html {
   
    height: 100%;
    width: 100%;
    font: Tahoma, Geneva, sans-serif
}

body {
    margin: 0;
    background-image: url(sky.jpg);
    height:100%;
    width: 100%;
    text-align: center;
    position: relative;   
}

main {
  width: 60%;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-one {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: center;
}

.section-two{
  padding: 1rem;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  opacity: 0.6;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button {
    background-color: #f4f4f4;
    padding: 0.5rem;
    font-size: 1rem;
    
}

image {
    width: 20%;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}


#or {
    vertical-align: middle;
    font-size: larger;
}

@media (max-width: 1000px) {
	input {
        width: 40%;
    }

    #cityInputDiv {
        padding: 0;
    }
    
    button {
        font-size: 0.8rem;
    }
    
}

@media (max-width: 700px) {
	.section-one {
        display: block;
    }

    #cityInputButton {
        width: 50%;
        font-size: 0.8rem;
    }
    
}